{% extends "base.html" %}

{% block title %}Page Non Trouvée - Fotoblog{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-body text-center py-5">
        <h5 class="card-title">Accès non autorisé ou Page non trouvée</h5>
        <p class="card-text">Désolé, la page que vous recherchez n'existe pas ou vous n'avez pas les permissions nécessaires pour y accéder.</p>
        <p class="card-text">Veuillez vérifier que vous êtes bien connecté à votre compte.</p>
        <div class="mt-4">
            {% if not user.is_authenticated %}
                <a href="{% url 'comptes:login' %}" class="btn btn-success me-2">Se connecter</a>
            {% endif %}
            <a href="{% url 'blog:home' %}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
</div>
{% endblock content %}